/*****CSS GLOBAL*****/

@font-face {
    font-family: "Lato";
    src:    url("font/Lato-Black.ttf") format("ttf"),
            url("font/Lato-BlackItalic.ttf") format("ttf")
            url("font/Lato-Bold.ttf") format("ttf")
            url("font/Lato-Regular.ttf") format("ttf")
   }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(236, 203, 131, 0.3), rgba(236, 203, 131, 0.3)), url(./images/jeuDe.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato, sans-serif;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #390038;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px #dbd9e8;
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    border: 5px solid rgba(236, 203, 131, 0.3);
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}

.modal-body {
    text-align: justify;
}

.modal-title {
    text-align: center;
}

h5 {
    width:100%;
}

.modal-footer {
    padding: 36px 0px;
}

.dice {
    border: 5px solid #390038;
}

/*****CSS JOUEURS*****/

.player-name {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 100px;
    font-weight: 100;
    color: rgb(57, 0, 56);
    margin-bottom: 130px;
}

.active { background-color: #dbd9e8; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2740";
    font-size: 47px;
    position: absolute;
    color: #3f864b;
    top: -7px;
    right: -15px;
    
}

.player-current-box {
    background-color: rgb(144, 122, 150);
    color: #dbd9e8;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}

.player-current-score {
    font-size: 30px;
}

button {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
    outline: none;
}

i {
    color: #000000;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new { top: 45px;}
.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice {
    position: absolute;
    left: 50%;
    top: 175px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #91b39a; }
.winner .player-name { font-weight: 300; color: #390038; }